@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background: url('https://i.pinimg.com/originals/f5/8f/e8/f58fe8e19a7e25ddf0c459a3599261d6.gif');
    background-size: cover, cover;
    background-blend-mode: overlay;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header {
    background: linear-gradient(45deg, #8acff48d, #06f4897f);
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #12121263;
    box-shadow: 0 1px 2px rgba(14, 208, 234, 0.356);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px #03fbca, 4px 4px rgb(243, 2, 2);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#flag-display {
    text-align: center;
    border: 5px solid rgba(5, 250, 115, 0.614); /* Thin neon blue border */
    box-shadow: 0 0 10px rgb(0, 145, 255), 0 0 20px rgb(0, 192, 250), 0 0 30px rgba(157, 241, 124, 0.26); /* Neon glow effect */
    padding: 0px; /* Space between the border and the content */
    border-radius: 0; /* Sharp edges */
}

.gif-container {
    position: relative;
    display: inline-block;
    width: 800px;
}

.gif-background {
    width: 100%;
    height: auto;
    display: block;
}

.flag-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid #fdff78;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px #d0d2c6, 0 0 30px #6beae8;
    cursor: pointer;
    text-align: center;
    width: 700px;
}

.flag-box p {
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 1;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}

footer {
    background: linear-gradient(45deg, #8acff48d, #06f4897f);
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid #08070895;
    color: #fff;
    text-shadow: 2px 2px #03fbca, 4px 4px rgb(243, 2, 2);
}

footer p {
    margin: 0;
    font-size: 1.7rem;
}

.welcome {
    position: absolute;
    top: 14vh; /* relative to viewport height */
    left: 37vw; /* relative to viewport width */
    font-size: 2rem; /* relative to the root font size */
}

@media (max-width: 1200px) {
    .welcome {
        top: 12vh;
        left: 35vw;
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .welcome {
        top: 10vh;
        left: 30vw;
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .welcome {
        top: 8vh;
        left: 25vw;
        font-size: 1.4rem;
    }
}